{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<style>
    #wrap {
        background-color: aliceblue
    }

    #okay {
        background-color: aliceblue
    }

    #okay_1 {
        background-color: aliceblue
    }

    #ab {
        background-color: royalblue
    }
    .container_format{
        margin-bottom: 40px;
        border-radius: 50%;
    }
</style>
{% endblock %}

{% block body %}

<body id="ab">

    <div  class="container container_format">
        <br>
        <div class="row">
            <div style="padding-bottom: 20px;" class="col-md-8" id="okay">
                <br>
                <h2 style="padding: 5px;">Home <span class="badge badge-info"> {{ user.get_full_name }}</span></h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.post }}
                    <br>
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                </form>
                <h2>{{ text }}</h2>
                {% for post in posts %}
                <div id="wrap">

                    <div style="border-radius: 2%;" class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.post }}</h5>
                            <p class="card-text">Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
                            <a href="#" class="btn btn-primary">Like</a>
                            <a href="#" class="btn btn-success">Comment</a>
                            <a href="#" class="btn btn-secondary">Share</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4" id="okay_1">
                <br>
                <h3>People you may know</h3>
                {% for user in users %}
                {% if not user in friends%}

                <div style="margin: 5px;" class="card flex-row flex-wrap">
                    <div class="card-header border-0">
                        <img class="card-img-top"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS72bMX-sucG9MRPc5EBVDO0Wh4LtJNtprbRrU-wOxGZOgNOFsi"
                            alt={{ user.get_full_name }} style="width: 70px;height: 70px;">
                    </div>
                    <div class="card-block px-2">
                        <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                            <h5 style="padding: 5px;" class="card-title">{{ user.get_full_name }}</h5>
                        </a>
                        <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}">
                            <button type="button" class="btn btn-outline-success">Add Friend</button>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
                    <h3>Your Friends</h3>
                    {% for friend in friends %}
                    <div style="margin: 5px;" class="card flex-row flex-wrap">
                        <div class="card-header border-0">
                            <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS72bMX-sucG9MRPc5EBVDO0Wh4LtJNtprbRrU-wOxGZOgNOFsi"
                                alt={{ user.get_full_name }} style="width: 70px;height: 70px;">
                        </div>
                        <div class="card-block px-2">
                            <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                                <h5 style="padding: 5px;" class="card-title">{{ friend.get_full_name }}</h5>
                            </a>
                            <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}">
                                <button type="button" class="btn btn-outline-danger">Remove Friend</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}